.click-area {
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  color: #c7c790;
  display: flex;
}

.outer-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-items: center;
  background-color: #c7c790;
}
