.header {
  text-align: center;
}

.component-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.component-blocks > * {
  margin: 20px;
  min-width: 260px;
  border: 2px #117575 dashed;
  padding: 16px;
  border-radius: 4px;
}

.component-title {
  font-size: 12px;
}
