.header {
  text-align: center;
}

.component-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.component-block {
  margin: 20px;
  width: 300px;
  height: 300px;
  border: 2px #117575 dashed;
  padding: 16px;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
}

.component-view {
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-title {
  font-size: 14px;
  color: teal;
  position: absolute;
  margin: 0;
  top: -10px;
  background: #fff;
}
